:root {
    --verde: #27AE60;
    --azul: #2E86DE;
    --bg: #F8F7F3;
    --text:#2C3E50;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: var(--bg);
    color: var(--text);
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    text-align: center;
    padding: 2rem 1rem;
    background: linear-gradient(90deg, var(--verde) 0%, var(--azul) 100%);
    color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.logo-area img {
    width: 200px;
}

header h1 {
    font-size: 1.5rem;
    opacity: 0.9;
    margin-top: 0.5rem;
}

.intro {
    max-width: 1000px;
    text-align: center;
    margin: 2rem auto;
    padding: 1rem;
}

.intro h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
}

.intro p {
    font-size: 1rem;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 2rem;
    max-width: 1100px;
    width: 100%;
    padding: 1rem 2rem 3rem;
}

.card {
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.card h3 {
    color: var(--azul);
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    text-align: center;
}

.description {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    text-align: center;
}

canvas {
    width: 100%;
    max-height: 320px;
}

footer {
    background-color: var(--azul);
    color: white;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.9rem;
    width: 100%;
    margin-top: auto;
}


@media (max-width: 600px) {
    header h1 {
        font-size: 1.3rem;
    }

    .intro h2 {
        font-size: 1.3rem;
    }

    .card h3 {
        font-size: 1.1rem;
    }
}